.container{
    display: flex;
    flex-direction: row;
    background-color: aqua;
    
}
.box{
    width: 150px;
    height: 150px;
    border: 2px solid black;
}
.box1{
    background-color: blue;
}
.box2{
    background-color: yellow;
    flex-grow: 4;
}
.box3{
    background-color: green;
    flex-grow: 2;
}
.box4{
    background-color: red;
}

